body {
    background-image: url(https://t4.ftcdn.net/jpg/04/86/16/59/360_F_486165970_hP2zxCRco6o2MfwAND0JUPIz59W0a8wt.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff !important;
    height: 100vh;
}